* {
	margin:0;
	padding:0;
}

#wrapper{
	width:760px;
	margin:0 auto;
}

#content{
	text-align:left;
	background-image:url(../img/content-bg.png);
	border-radius:0px 0px 10px 10px;
	-moz-border-radius:0px 0px 10px 10px;
	-webkit-border-radius:0px 0px 10px 10px;
	border:1px solid #fff;
	box-shadow: 3px 3px 5px #888888;
	font-family: Cantarell;
	background-color: #fff;
	color: #444;
	text-decoration: none;
	word-spacing: -0.05em;
	text-align: justify;
	letter-spacing: 2px;
	line-height: 1.3em;
	font-size: 0.8em;
}

body{
	text-align:center;
	background-image:url(../img/bg.png); 
}
